<div class="shadow wrapper" [ngClass]="{'hideFooter':length === 0}">
  <div class="container">
    <div class="leftCounter">{{selectedLength}} items left</div>
    <div class="filter">
      <div class="filterStyle" (click)="changeFilterType(FilterTypeEnumTemp.All)" [ngClass]="{currentFilter: this.filter === FilterTypeEnumTemp.All}">all</div>
      <div class="filterStyle" (click)="changeFilterType(FilterTypeEnumTemp.Active)"[ngClass]="{currentFilter: this.filter === FilterTypeEnumTemp.Active}">active</div>
      <div class="filterStyle"(click)="changeFilterType(FilterTypeEnumTemp.Completed)"  [ngClass]="{currentFilter: this.filter === FilterTypeEnumTemp.Completed}">completed</div>
    </div>
    <div class="clearSelected" (click)="onClearSelected()" [ngClass]="{'hideButton':howManySelected === 0}">
      clear selected
    </div>
  </div>
</div>
