.wrapper {
  display: flex;
  justify-content: space-around;
}

.filter > div {
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.filter {
  display: flex;
}

.container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid rgba(180, 180, 180, 0.199);
  border-radius: 2px;
  background-color: #fff;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.container > div{
  flex-basis:140px;
}

.clearSelected {
  cursor: pointer;
}

.hideFooter {
  display: none;
}

.hide {
  display: none;
}
.hideButton{
  opacity: 0;
}

.currentFilter {
  border: none;
  border: 1px solid #d7d7d7 !important;
  border-radius: 2px;
}
.filterStyle{
  padding: 2px;
}

.leftCounter{
  margin: 4px;
}

.shadow{
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
  0 10px 2px -4px rgba(0, 0, 0, 0.15),
  0 20px 0 -10px #eee, 0 20px 2px -9px rgba(0, 0, 0, 0.15);
}
