<div class="wrapper" [ngClass]="localLength === 0? 'hideFooter':'' ">
  <div class="container" >
    <div class="leftCounter">{{localLeft}} items left</div>
    <div class="filter">
      <div class="filterStyle" (click)="changeFilterType(1)" [ngClass]="this.localFilterType === 1?'currentFilter':''">all</div>
      <div class="filterStyle" (click)="changeFilterType(2)" [ngClass]="this.localFilterType === 2?'currentFilter':''">active</div>
      <div class="filterStyle"(click)="changeFilterType(3)" [ngClass]="this.localFilterType === 3?'currentFilter':''">completed</div>
    </div>
    <div class="clearSelected" (click)="clearSelected()" [ngClass]="this.localSelectedCounter===0?'hideButton':''">
      clear selected
    </div>
  </div>
</div>
