<div class="wrapper" >
  <div class="contentBox">
    <div class="container">
      <div class="round">
        <input type="checkbox" id="{{task?._id}}"  [checked]="task?.completed" (click)="taskCompleted(task)"/>
        <label for="{{task?._id}}"></label>
      </div>
    </div>
    <input type="text" *ngIf="this.isChanging" class="text" (keydown.enter)="this.changeTask(task,$event)" [value]="this.value">
    <span *ngIf="!this.isChanging" (dblclick)="redactTask(task?.text)" [ngClass]="task?.completed ? 'textDecorateClass':''" class="text">{{task?.text}}</span>
    <div class="deleteThisOne" (click)="deleteTask(task)" *ngIf="!this.isChanging"><img src="../../../assets/img/krest.png" alt=""></div>
  </div>
</div>
