.wrapper
{
  font-weight: lighter;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
.mainContent
{
    display: flex;
    width: 100%;
    margin:0 auto;
    justify-content: center;
}
.mainContent > input
{
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    outline: none;
    width: 100%;
    border:none;
    opacity: 1;
    color: rgb(129, 129, 129);
}
.mainContent > img
{
  height: 10px;
  opacity: .2;
  margin-right: 10px;
  padding-left: 5px;
  padding-top: 3px;

}
