
form{
  display: flex;
}
form > input{
  display: block;
}
.logo{
  width: 100%;
  margin: 0 auto;
  color: #474747;
}
h1{
  font-weight: lighter;
  margin-top: 0px;
  text-align: center;
  font-size: 100px;
  color: rgba(158, 11, 0, 0.349);
  opacity: .7;
  margin-bottom: 20px;
}
html{
  font-weight: lighter;
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  background-color: rgba(241, 241, 241, 0.705);
}
/*input{*/
/*  font-size: 20px;*/
/*  height: 40px;*/
/*  margin-top: 20px;*/
/*  display: block;*/
/*  outline: none;*/
/*  color: rgba(54, 54, 54, 0.94);*/
/*  padding-left: 10px;*/
/*}*/
/*input::placeholder{*/

/*}*/
.contentBox{
  display: flex;
  width: 600px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border: 1px solid rgba(191, 191, 191, 0.18);
}
.btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:30px;
  outline: none;
}
button{
  height: 38px;
  width: 300px;
  font-size: 20px;

  border-radius: 0px;
  border: 1px solid rgba(109, 109, 109, 0.4);
  background-color: #fff;
}
button:hover {
  border: 1px solid rgba(109, 109, 109, 0.4);
}
button:focus {
  border:none;
  border: 1px solid rgba(109, 109, 109, 0.4) !important;
}
html{
  height: 100%;
  width: 100%;
  margin:0 auto;
  background-color: rgba(241, 241, 241, 0.705);
}

.createAccount{
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.message{
  cursor: pointer;
}
